{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<section class="ourteam bg-light">
    <div class="container px-4 py-5">
        <h2 class="text-center mb-3 text-success fw-bold">Ward Committee</h2>
    </div>
    <div class="container">
        <div class="row">
            {% for comm in comm %}
            <div class="col-md-3 col-sm-6">
                <div class="our-team p-4 text-center justify-content-center align-items-center">
                    <div class="pic">
                        {% if comm.member_img %}
                        <img src="{{comm.member_img.url}}">
                        {% endif %}
                    </div>
                    <h3 class="tit text-success">{{comm.name}}</h3>
                    <span class="post">{{comm.role}}</span>
                    <ul class="social">
                        <li><a href="{{comm.facebook}}"><i class='bx bxl-facebook bx-tada'></i></a></li>
                        <li><a href="{{comm.twitter}}"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="{{comm.instagram}}"><i class='bx bxl-instagram-alt bx-tada'></i></a></li>
                        <li><a href="{{comm.linkedin}}"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}