{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<section class="ourteam bg-light">
    <div class="container px-4 py-5">
        <h2 class="text-center mb-3 text-success fw-bold">Ward Committee</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="our-team p-4 text-center justify-content-center align-items-center">
                    <div class="pic">
                        <img src="{% static 'img/mca.png' %}">
                    </div>
                    <h3 class="tit text-success">Hon. Maina Peter</h3>
                    <span class="post">MCA</span>
                    <ul class="social">
                        <li><a href="#"><i class='bx bxl-facebook bx-tada'></i></a></li>
                        <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#"><i class='bx bxl-instagram-alt bx-tada'></i></a></li>
                        <li><a href="#"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team p-4 text-center justify-content-center align-items-center">
                    <div class="pic">
                        <img src="{% static 'img/mca.png' %}">
                    </div>
                    <h3 class="tit text-success">Hon. Maina Peter</h3>
                    <span class="post">MCA</span>
                    <ul class="social">
                        <li><a href="#"><i class='bx bxl-facebook bx-tada'></i></a></li>
                        <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#"><i class='bx bxl-instagram-alt bx-tada'></i></a></li>
                        <li><a href="#"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team p-4 text-center justify-content-center align-items-center">
                    <div class="pic">
                        <img src="{% static 'img/mca.png' %}">
                    </div>
                    <h3 class="tit text-success">Hon. Maina Peter</h3>
                    <span class="post">MCA</span>
                    <ul class="social">
                        <li><a href="#"><i class='bx bxl-facebook bx-tada'></i></a></li>
                        <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#"><i class='bx bxl-instagram-alt bx-tada'></i></a></li>
                        <li><a href="#"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team p-4 text-center justify-content-center align-items-center">
                    <div class="pic">
                        <img src="{% static 'img/mca.png' %}">
                    </div>
                    <h3 class="tit text-success">Hon. Maina Peter</h3>
                    <span class="post">MCA</span>
                    <ul class="social">
                        <li><a href="#"><i class='bx bxl-facebook bx-tada'></i></a></li>
                        <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#"><i class='bx bxl-instagram-alt bx-tada'></i></a></li>
                        <li><a href="#"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}