{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<section class="contacts">
    <div class="container">
        <div class="row">
            <div class="card" style="width: 400rem;">
                <div class="card-header">
                    <h1 class="text-center fw-bold">EMERGENCY CONTACTS</h1>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea expedita laudantium iste minus neque, esse error est dignissimos dolorem cumque? Nemo ut quae culpa dolor. Sapiente ipsum porro quibusdam officia.</p>
                </div>
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="card col-md-3 col-sm-12 col-xs-12 p-3 mt-3 mb-3 bg-light" style="width: 20rem;">
                            <div class="card-header bg-success text-light">
                                Police Services
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h4 class="float-start fw-bold">999</h4>
                                    <a href="#" class="float-end text-light"><i
                                            class='bx bx-phone-outgoing bx-tada bx-sm bx-border-circle border-success bg-success'></i></a>
                                </li>
                                <li class="list-group-item">
                                    <h4 class="float-start fw-bold">911</h4>
                                    <a href="#" class="float-end text-light"><i
                                            class='bx bx-phone-outgoing bx-sm bx-border-circle border-success bg-success'></i></a>
                                </li>
                                <li class="list-group-item">
                                    <h4 class="float-start fw-bold">112</h4>
                                    <a href="#" class="float-end text-light"><i
                                            class='bx bx-phone-outgoing bx-sm bx-border-circle border-success bg-success'></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="card col-md-3 col-sm-12 col-xs-12 p-3 mt-3 mb-3 bg-light" style="width: 20rem;">
                            <div class="card-header bg-success text-light">
                                Ambulance Services
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h4 class="float-start fw-bold">0700 395 395</h4>
                                    <a href="#" class="float-end text-light"><i
                                            class='bx bx-phone-outgoing bx-tada bx-sm bx-border-circle border-success bg-success'></i></a>
                                </li>
                                <li class="list-group-item">
                                    <h4 class="float-start fw-bold">0738 395 395</h4>
                                    <a href="#" class="float-end text-light"><i
                                            class='bx bx-phone-outgoing bx-sm bx-border-circle border-success bg-success'></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="card col-md-3 col-sm-12 col-xs-12 p-3 mt-3 mb-3 bg-light" style="width: 20rem;">
                            <div class="card-header bg-success text-light">
                                Fire Services
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h4 class="float-start fw-bold">0202344599</h4>
                                    <a href="#" class="float-end text-light"><i
                                            class='bx bx-phone-outgoing bx-tada bx-sm bx-border-circle border-success bg-success'></i></a>
                                </li>
                                <li class="list-group-item">
                                    <h4 class="float-start fw-bold">0202222181</h4>
                                    <a href="#" class="float-end text-light"><i
                                            class='bx bx-phone-outgoing bx-sm bx-border-circle border-success bg-success'></i></a>
                                </li>
                                <li class="list-group-item">
                                    <h4 class="float-start fw-bold">0722832930</h4>
                                    <a href="#" class="float-end text-light"><i
                                            class='bx bx-phone-outgoing bx-sm bx-border-circle border-success bg-success'></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}