{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<!-- Garbage Pickup Contact Card -->
<section class="garbage bg-dark">
    <div class="container px-4 py-5">
        <div class="contact_garb">
            <h2 class="fw-bold text-success">
                Garbage Collection Contact Information
            </h2>
            <hr>
            <h3>
                Gabbagers Company LTD
            </h3>
            <p class="text-danger">
                <span class="prefix fw-bold text-secondary">Office:</span>
                1 800 987 4567
                <br>
                <span class="prefix fw-bold text-secondary">Cell:</span>
                1 800 123 6578
                <br>
                <span class="prefix fw-bold text-secondary">EMAIL:</span>
                gabbagers@gmail.com
            </p>
        </div>
    </div>
</section>
{% endblock content %}