{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<section class="bg-city section-padding-100-70">
  <div class="container text-center">
    <div class="row align-items-center g-lg-5 py-5 mt-5 text-center">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-5 fw-bold lh-1 mb-3 text-white"><span class="display-2">W</span>elcome to <span
            class="display-2">U</span>thiru <span class="display-2">R</span>uthimitu</h1>
        <p class="col-lg-10 fs-5 text-light">Drawn by clean air and mythical light, visitors come to experience
          tradition, fine art, great cuisine and natural beauty of the landscape.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border-0 rounded-3 bg-light shadow-lg">
          <div class="list-group border-0">
            <button type="button"
              class="list-group-item list-group-item-action active bg-warning text-center fw-bold border-0"
              aria-current="true">
              QUICK LINKS
            </button>
            <button type="button" class="list-group-item list-group-item-action active border bg-success"><a
                href="{% url 'birth' %}" class="text-white text-decoration-none">Order Birth Certificate</a></button>
            <button type="button" class="list-group-item list-group-item-action active border bg-success"><a href="#"
                class="text-white text-decoration-none">Events Permitting</a></button>
            <button type="button" class="list-group-item list-group-item-action active border bg-success"><a href="#"
                class="text-white text-decoration-none">Road Occupation Request</a></button>
            <button type="button" class="list-group-item list-group-item-action active border bg-success" disabled><a
                href="#" class="text-white text-decoration-none">ID Registration</a></button>
          </div>
          <hr class="my-4">
          <small class="text-muted">By clicking the links, you will be given guidelines to your service.</small>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="jumbo">
  <div class="container">
    <div class="container col-xxl-8">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-4">
          <img src="{% static 'img/mca.png' %}" class="d-block mx-lg-auto img-fluid" alt="U/R logo" width="400"
            height="400" loading="lazy">
        </div>
        <div class="col-lg-8">
          <h1 class="display-3 fw-bold lh-1 mb-3 text-decoration-none" style="font-family: Poppins, sans-serif;" uk-parallax="opacity: 0,1,1; y: -100,10,0; x: 10,10,0; scale: 1.5,1,1; end: 50vh + 50%;">A
            Message From the M.C.A</h1>
          <p class="lead p-4" uk-parallax="opacity: 0,1,1; y: 100,10,0; x: -10,-10,0; scale: 0.5,1,1; end: 50vh + 50%;"><span class="fw-bold text-success">Uthiru Ruthimitu</span> is a special place with
            limitless potential,
            where everyone deserves equal access to opportunity, happiness, and a bright future. <br>Our
            Ward is here to help foster those ideas in every neighborhood. It exists to serve you and be a
            resource for you, your family and your community.</p>
          <h5 style="font-family: Poppins, sans-serif;">Peter Maina Mwangi, M.C.A</h5>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="featured-1">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-light display-5 text-center justify-content-center align-items-center"
          style="font-family: 'Poppins'; font-weight: 900; text-shadow: rgba(167, 255, 175, 0.612) 0 -2px;">WARD
          SERVICES AND DEPARTMENTS</h2>
      </div>
    </div>
  </div>
  <div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="feature col" uk-parallax="opacity: 0,1,1; y: -100,10,0; x: 10,10,0; scale: 1.5,1,1; end: 50vh + 50%;">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-danger bg-gradient fs-2 mb-3">
          <i class='bx bxs-ambulance'></i>
        </div>
        <h5 class="text-danger">EMERGENCIES</h5>
        <p class="text-light">Paragraph of text beneath the heading to explain the heading. We'll add onto it with
          another sentence and
          probably just keep going until we run out of words.</p>
        <a href="{% url 'emergencies' %}" class="btn btn-outline-light d-inline-flex align-items-center">
          click here
        </a>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-danger bg-gradient fs-2 mb-3">
          <i class='bx bx-football'></i>
        </div>
        <h5 class="text-danger">RECREATION AND SPORT PROGRAMS</h5>
        <p class="text-light">Learn more about parks and trails, athletic and fitness programs, park facility rentals
          and other recreational opportunities in Uthiru Ruthimitu.</p>
        <a href="{% url 'programmes' %}" class="btn btn-outline-light d-inline-flex align-items-center">
          click here
        </a>
      </div>
      <div class="feature col" uk-parallax="opacity: 0,1,1; y: -100,10,0; x: 10,10,0; scale: 1.5,1,1; end: 50vh + 50%;">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-danger bg-gradient fs-2 mb-3">
          <i class='bx bxs-trash'></i>
        </div>
        <h5 class="text-danger">GARBAGE PICKUP</h5>
        <p class="text-light">Find resources related to your trash and recycling needs and learn ways to keep Uthiru
          Ruthimitu environmentally friendly through community programs.</p>
        <a href="{% url 'garbage' %}" class="btn btn-outline-light d-inline-flex align-items-center">
          click here
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1" uk-parallax="opacity: 0,1,1; y: -100,10,0; scale: 1.5,1,1; end: 50vh + 50%;">Discover The Best of <span class="text-danger">Uthiru Ruthimitu</span></h1>
        <p class="lead" uk-parallax="opacity: 0,1,1; y: 100,10,0; scale: 0.5,1,1; end: 50vh + 50%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia rerum mollitia hic atque
          aliquam suscipit rem enim, minus modi nihil consectetur aperiam fugit ut labore in, nostrum id facere eaque!
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-danger btn-lg px-4 me-md-2 fw-bold"><a href="{% url 'maps' %}"
              class="text-decoration-none text-light">Map</a></button>
          <button type="button" class="btn btn-success btn-lg px-4 fw-bold"><a href="{% url 'committee' %}"
              class="text-decoration-none text-light">Administration</a></button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
        <img class="rounded-lg-3" src="{% static 'img/logo1.png' %}" alt="" width="800">
      </div>
    </div>
  </div>
</section>

<section class="proj">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h2 class="text-light text-decoration-none" style="font-family: 'Poppins'; text-shadow: 1px 2px #000000;">
          Got a project in mind?</h2>
        <h2 class="text-light" style="font-family: 'Poppins'; text-shadow: 1px 2px #000000;">Let's talk about it and get
          started</h2>
        <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam magnam soluta explicabo
          dolorum molestiae
          quisquam debitis molestias. A eligendi alias perferendis perspiciatis, sapiente maxime modi sed non sequi cum
          quis fugiat ratione. Porro earum veritatis eveniet! Repudiandae soluta corporis expedita!</p>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center mt-5">
        <a class="cool-btn btn btn-outline-light shadow btn-lg" href="{% url 'contacts' %}"> Talk to us Today</a>
      </div>
    </div>
  </div>
</section>

<section class="slider">
  <div class="container">
    <!-- Start Header Section -->
    <div class="row justify-content-center text-center">
      <div class="col-md-8 col-lg-6">
        <div class="header-section">
          <h2 class="text-success mb-5" style="font-family: 'Poppins'; font-weight:bolder;">Our Completed Projects</h2>
        </div>
      </div>
    </div>
    <!-- / End Header Section -->
  </div>

  <div class="container ">
    <div class="row">
      <div id="carouselExampleCaptions" class="carousel slide col-lg-8 data-bs-ride=" carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/cnty.jpg' %}" class="d-block w-100 rounded-5" alt="...">
            <div class="carousel-caption d-md-block">
              <h4 class="text-light">Center Mukiriti Tarmacing</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/bg2.jpg' %}" class="d-block w-100 rounded-5" alt="...">
            <div class="carousel-caption d-md-block">
              <h4 class="text-light">Second slide label</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/bg3.jpg' %}" class="d-block w-100 rounded-5" alt="...">
            <div class="carousel-caption d-md-block">
              <h4 class="text-light">Third slide label</h4>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="col-lg-4 p-3 text-center">
        <marquee behavior="scroll" direction="up" scrollamount="1">
          <table class="table table-success table-striped">
            <thead>
              <tr>
                <th scope="col">Project</th>
                <th scope="col">Date of completion</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Center-Mukiriti Road Tarmacing</td>
                <td>1st October 2022</td>
              </tr>
              <tr>
                <td>Center-Mukiriti Road Tarmacing</td>
                <td>1st October 2022</td>
              </tr>
              <tr>
                <td>Center-Mukiriti Road Tarmacing</td>
                <td>1st October 2022</td>
              </tr>
              <tr>
                <td>Center-Mukiriti Road Tarmacing</td>
                <td>1st October 2022</td>
              </tr>
              <tr>
                <td>Center-Mukiriti Road Tarmacing</td>
                <td>1st October 2022</td>
              </tr>
            </tbody>
          </table>
        </marquee>
      </div>
    </div>
  </div>
</section>

<!-- NEWS SECTION -->
<section class="news" style="background-color: #062727;">
  <div class="container">
    <div class="header-section">
      <h2 class="text-white mb-5 text-center" style="font-family: 'Poppins'; font-weight:bolder;">News & Speeches</h2>
    </div>
    <div class="row">
      {% for post in posts %}
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <figure class="snip1249">
          <div class="image">
            {% if post.blog_img %}
            <img src="{{ post.blog_img.url }}" alt="sample71" /><i class="ion-ios-camera-outline"></i>
            {% endif %}
          </div>
          <figcaption>
            <h3>{{post.title}}</h3>
            <p>{{ post.body|slice:":200"|safe }}...</p>
            <div class="price">
              <s>{{ post.created_on|timesince }} ago</s>
            </div>
            <a href="{{post.get_absolute_url}}" class="add-to-cart">Read More</a>
          </figcaption>
        </figure>
      </div>
      {% endfor %}

      <div class="mt-5">
        <a href="{% url 'blogs' %}" class="cl-btn btn text-light float-end">Discover More</a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}