{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<section class="projects_page" style="background-color: #ffffff;
opacity: 0.8;
background-image:  radial-gradient(#45f77d 0.5px, transparent 0.5px), radial-gradient(#45f77d 0.5px, #ffffff 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;">
    <div class="container">
        <h2 class="eve-head fw-bold text-center mb-5">PROJECTS</h2>
        <div class="row justify-content-between">
            <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4" style="width: 18rem;">
                <div class="card-header bg-transparent px-0">
                    <img src="{% static 'img/bg3.jpg' %}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold">Centre-Mukiriti Tarmacing</h5>
                    <hr>
                    <p class="card-text">Construction of Centre-Mukiriti Road is underway and is set to be complete
                        before end of the year.</p>
                    <div class="footer-social-icon">
                        <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                        <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                    </div>
                </div>
            </div>

            <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4" style="width: 18rem;">
                <div class="card-header bg-transparent px-0">
                    <img src="{% static 'img/bg3.jpg' %}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold">Centre-Mukiriti Tarmacing</h5>
                    <hr>
                    <p class="card-text">Construction of Centre-Mukiriti Road is underway and is set to be complete
                        before end of the year.</p>
                    <div class="footer-social-icon">
                        <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                        <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                    </div>
                </div>
            </div>

            <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4" style="width: 18rem;">
                <div class="card-header bg-transparent px-0">
                    <img src="{% static 'img/bg3.jpg' %}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold">Centre-Mukiriti Tarmacing</h5>
                    <hr>
                    <p class="card-text">Construction of Centre-Mukiriti Road is underway and is set to be complete
                        before end of the year.</p>
                    <div class="footer-social-icon">
                        <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                        <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}