{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<section class="projects_page" style="background-color: #ffffff;
background-image:  radial-gradient(#45f77d 0.5px, transparent 0.5px), radial-gradient(#45f77d 0.5px, #ffffff 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;">
    <div class="container px-4 py-5">
        <h2 class="eve-head fw-bold text-center mb-5">PROJECTS</h2>
        <div class="row justify-content-between">
            {% for proj in project_list %}
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <figure class="snip1249 hover">
                    <div class="image">
                        {% if proj.proj_img %}
                        <img src="{{ proj.proj_img.url }}" alt="sample85" /><i class="ion-ios-star-outline"></i>
                        {% endif %}
                    </div>
                    <figcaption>
                        <h4 class="fw-bold">{{proj.title}}</h4>
                        <p>{{proj.description}}</p>
                        <div class="price">
                            {% for cat in proj.progress_status.all %}
                            <small class="fw-bold">{{ cat.title }}</small>
                            {% endfor %}
                        </div>
                    </figcaption>
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}