{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<section class="downloads">
    <div class="container px-4 py-5">
        <div class="header-section">
            <h2 class="text-dark mb-5 text-center" style="font-family: 'Poppins'; font-weight:bolder;">Tenders & Notices</h2>
        </div>
        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                    <th scope="col">Title</th>
                    <th scope="col">Download Link</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for down in context %}
              <tr>
                <td class="fs-5"><i class='bx bxs-file-pdf bx-sm text-danger'></i> {{down.d_title}}</td>
                {% if down.d_file %}
                <td><a href="{{down.d_file.url}}" download class="btn btn-outline-danger float-end text-decoration-none"><i class='bx bx-download'></i> Download</a></td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock content %}