{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<section class="uthim">
    <div class="container">
        <div class="px-4 pt-5 my-5 text-center border-top">
            <h3 class="fw-bold text-light float-start">About Uthiru Ruthitu</h3>
        </div>
    </div>
</section>
<section class="bout">
    <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non cupiditate, dolor aut labore cumque dicta quas
            suscipit vel et vero veniam unde rem molestiae minima ex, obcaecati, nisi aliquam. Suscipit necessitatibus
            itaque laudantium excepturi sequi, libero deleniti laborum repudiandae. Vitae fugit aspernatur labore illo
            dolores similique, dolor fugiat nobis. Earum quidem perferendis harum, tenetur corporis natus ullam odio
            cumque, ex iusto et mollitia consectetur ad eos aperiam sequi tempore? Maiores corrupti ut vitae ullam, sint
            cumque? Quia a fuga fugiat voluptas maxime amet pariatur possimus repudiandae vel enim veniam vero beatae
            distinctio ducimus aperiam, rerum repellendus nobis hic accusantium odit.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem tenetur neque in labore inventore
            doloribus, quasi quis perferendis sed ducimus error quidem dolore debitis odit eligendi ipsa facere
            assumenda commodi quos vel ad veritatis doloremque porro deleniti! Minus, sunt explicabo excepturi maiores
            exercitationem est et voluptatum a provident, minima deserunt earum? Laborum nam minus corrupti? Obcaecati
            expedita ex ratione debitis?</p>
    </div>
</section>

<section class="pop">
    <div class="container">
        <div class="text-center border-top">
            <h3 class="fw-bold text-success float-start">Location, Administrative Units, Population</h3>
        </div>
    </div>
</section>
<div class="container">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus expedita beatae modi distinctio excepturi
        debitis, voluptatem odio adipisci ad nostrum reprehenderit consequatur sunt voluptatum placeat. Et autem quo
        velit quod pariatur, voluptas vitae asperiores, unde illum corrupti vel reprehenderit doloremque ipsa
        voluptatibus cumque porro facere totam aperiam. Voluptatem laudantium, nam porro saepe vitae eius vero assumenda
        dicta mollitia totam necessitatibus accusamus, sint qui iure deleniti tenetur eaque repudiandae! Dicta
        dignissimos ipsum deserunt eum voluptatem voluptate nulla libero animi consectetur saepe fuga nostrum pariatur,
        ex quod repudiandae eveniet voluptas iure ipsa repellendus ratione! Ducimus aut inventore atque, suscipit maxime
        libero sit! Quidem sapiente iure nostrum voluptatibus distinctio ducimus. Maiores laudantium velit, voluptatum
        iure enim aliquid rerum id delectus quasi sit harum labore iusto vitae eum quia nulla quo sed consequatur quis,
        totam aut? Eos officia recusandae inventore accusamus ab consectetur ducimus commodi dolores odio quibusdam
        molestias deleniti, repellat esse debitis. Numquam eum veniam omnis, excepturi praesentium velit ducimus dolorem
        repudiandae explicabo sequi nisi, corrupti maiores commodi rem dignissimos nesciunt quia! Vel quod omnis
        quibusdam non dignissimos temporibus ullam quas, dolores quo dolorem eos ratione repellat reiciendis voluptate
        excepturi animi eius delectus magnam totam! Nemo voluptates rerum tempore odit qui ut quidem.
    </p>
    <div class="map text-center justify-content-center align-items-center">
        <iframe class="shadow-lg p-3 mb-5 bg-body rounded"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15955.335728080396!2d36.702784393360645!3d-1.2727796605878299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1944a1f3f4f1%3A0x6eaa7916ab6e79c4!2sUthiru%2FRuthimitu!5e0!3m2!1sen!2ske!4v1665212639536!5m2!1sen!2ske"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

<section class="educ">
    <div class="container">
        <div class="text-center border-top">
            <h3 class="fw-bold text-success float-start">Education</h3>
        </div>
    </div>
</section>
<div class="container">
    <h4>Uthiru Ruthimitu is home to several learning institutions</h4>

    <div class="school p-4">
        <ol class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ol>
    </div>

</div>

<section class="educ">
    <div class="container">
        <div class="text-center border-top">
            <h3 class="fw-bold text-success float-start">Notable Natives and Residents</h3>
        </div>
    </div>
</section>
<div class="container">
    <h4>Several notable names from Uthiru Ruthimitu include:</h4>

    <div class="school p-4">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
    </div>

</div>
{% endblock content %}