.uthim {
    width: 100%;
    height: 40vh;
    background: url(/static/img/r1.jpg), linear-gradient(90deg, rgb(0, 0, 0), #84e968a6) center no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .uthim {
        height: 35vh;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}